<div class="container col-md-6">
    <form #TaskAddEditForm ="ngForm">
  
      <div class="row col-md-16 form-group">
          <div class="col col-md-3">
            <label for="project">Project:</label>
          </div>
          <div class="col col-md-9">
            <div class="row col-md-16">
              <div class="col col-md-10">
                <input type="text" style="width: 100%" name='project' aria-describedby='project' required readonly>
              </div>
              <div class="col col-md-2">
                <button type="button" class="btn btn-default border" data-toggle="modal" data-target="#projectSearch" [disabled]="taskId>0" style="border-radius: 50%">Search</button>
               </div>
            </div>
          </div>
      </div>   
    </form>
</div>
<app-project-search ></app-project-search>
